---
interface Props {
    type: string;
    title: string;
    url: string;
}

const { type, title, url } = Astro.props;

const typeEmoji =
    {
        "MIX & MASTERING": "🎚️",
        "POSTPRODUCCIÓN DE AUDIO": "🎬",
    }[type] || "🎵";

const textLink = type === "POSTPRODUCCIÓN DE AUDIO" ? "Mirálo aquí" : "Escúchala aquí";
---

<li>
    <article class="flex items-center justify-between py-6" aria-label={title}>
        <header class="flex items-center flex-1">
            <figure
                class="font-bold text-[22px] min-w-[40px]"
                aria-hidden="true"
            >
                {typeEmoji}
            </figure>
            <div class="flex-1 flex flex-col items-start px-4">
                <h4 class="text-base font-medium text-primary">{title}</h4>
                <p class="text-xs uppercase font-semibold mt-1 text-secondary">
                    {type}
                </p>
            </div>
        </header>
        <footer>
            <a
                class="underline font-medium text-sm whitespace-nowrap text-accent"
                href={url}
                target="_blank"
                rel="noopener noreferrer">{textLink}</a
            >
        </footer>
    </article>
</li>
