---
import "@fortawesome/fontawesome-free/css/all.css";
import { socialLinks } from "../config/socials";

interface Props {
    iconColor?: string;
}

const { iconColor = "text-accent" } = Astro.props;
---

<ul class="grid grid-flow-col gap-5 text-base">
    <li>
        <a
            class={`text-2xl ${iconColor}`}
            href={socialLinks.instagram}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
        >
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li>
        <a
            class={`text-2xl ${iconColor}`}
            href={socialLinks.soundcloud}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="SoundCloud"
        >
            <i class="fab fa-soundcloud"></i>
        </a>
    </li>
    <li>
        <a
            class={`text-2xl ${iconColor}`}
            href={socialLinks.youtube}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
        >
            <i class="fab fa-youtube"></i>
        </a>
    </li>
</ul>
